<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlp.mapper.MatchGroupMapper">
    <resultMap id="BaseResultMap" type="com.jlp.pojo.MatchGroup">
        <id column="matchgroupid" jdbcType="INTEGER" property="matchgroupid"/>
        <result column="matchgroupname" jdbcType="VARCHAR" property="matchgroupname"/>
        <result column="matchgroupcreatetime" jdbcType="TIMESTAMP" property="matchgroupcreatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        matchgroupid, matchgroupname, matchgroupcreatetime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from matchgroup
        where matchgroupid = #{matchgroupid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from matchgroup
        where matchgroupid = #{matchgroupid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jlp.pojo.MatchGroup">
        insert into matchgroup (matchgroupid, matchgroupname, matchgroupcreatetime)
        values (#{matchgroupid,jdbcType=INTEGER}, #{matchgroupname,jdbcType=VARCHAR},
                #{matchgroupcreatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.jlp.pojo.MatchGroup">
        insert into matchgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="matchgroupid != null">
                matchgroupid,
            </if>
            <if test="matchgroupname != null">
                matchgroupname,
            </if>
            <if test="matchgroupcreatetime != null">
                matchgroupcreatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="matchgroupid != null">
                #{matchgroupid,jdbcType=INTEGER},
            </if>
            <if test="matchgroupname != null">
                #{matchgroupname,jdbcType=VARCHAR},
            </if>
            <if test="matchgroupcreatetime != null">
                #{matchgroupcreatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jlp.pojo.MatchGroup">
        update matchgroup
        <set>
            <if test="matchgroupname != null">
                matchgroupname = #{matchgroupname,jdbcType=VARCHAR},
            </if>
            <if test="matchgroupcreatetime != null">
                matchgroupcreatetime = #{matchgroupcreatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where matchgroupid = #{matchgroupid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jlp.pojo.MatchGroup">
        update matchgroup
        set matchgroupname       = #{matchgroupname,jdbcType=VARCHAR},
            matchgroupcreatetime = #{matchgroupcreatetime,jdbcType=TIMESTAMP}
        where matchgroupid = #{matchgroupid,jdbcType=INTEGER}
    </update>
</mapper>